<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @{
            @Html.Partial("~/Views/PartialView/_Sidebar.cshtml");
        }
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" disabled>
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    @{
                        @Html.Partial("~/Views/PartialView/_Topbar.cshtml");
                    }
                </nav>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Welcome to TOW Services Of Garage</h1>
                    <p class="mb-4">
                        List of TOW serivces related to several Garages alone with details.
                    </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="m-0 font-weight-bold text-primary">TOW serices</h6>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <a class='btn btn-primary' id="Add" href="@Url.Action("AddView","TOWService")">Add Item</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="DT_load" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>GarageName</th>
                                            <th>TypeOfVehicleOwn</th>
                                            <th>MaxPayLoad</th>
                                            <th>NoOfVehicleOwn</th>
                                            <th>RatePerKm</th>
                                            <th>RangeOfService</th>
                                            <th>ExtraFeatures</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Edit modal -->
                    <div class='modal fade' id='EditModal' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
                        <div class='modal-dialog' role='document'>
                            <div class='modal-content'>
                                <div class='modal-header'>
                                    <h5 class='modal-title' id='exampleModalLabel'>Edit</h5>
                                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                                        <span aria-hidden='true'>&times;</span>
                                    </button>
                                </div>
                                <div class='modal-body'>
                                    <form Id="TOWServiceForm" novalidate>
                                        <input type="hidden" class="form-control form-control-user" id="TOWServiceID" name="TOWServiceID"
                                               placeholder="TOWServiceId">
                                        <div class="form-group">
                                            <select class="form-control" id="GarageName" name="GarageName" disabled>
                                                <option value="" selected disabled>Select Store...</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="TypeOfVehicleOwn" name="TypeOfVehicleOwn"
                                                   placeholder="Vehicle Type...">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="MaxPayLoad" name="MaxPayLoad"
                                                   placeholder="Max Payload">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control form-control-user" id="NoOfVehicleOwn" name="NoOfVehicleOwn"
                                                   placeholder="Amount" min=1>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="RatePerKm" name="RatePerKm"
                                                   placeholder="Rate Per KM...">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control form-control-user" id="RangeOfService" name="RangeOfService"
                                                      placeholder="Range Of Service..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control form-control-user" id="ExtraFeatures" name="ExtraFeatures"
                                                      placeholder="Extra Features..."></textarea>
                                        </div>

                                        <div class="form-group">
                                            <Table>
                                                <tr>
                                                    <td><label>Image</label></td>
                                                    <td>
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="file" id="file" name="file" accept="image/*">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </Table>
                                        </div>

                                        <div class="form-group">
                                            <tr>
                                                <td>
                                                    <div style="height:200px; width:200px; overflow:auto;">
                                                        <img id="imgPhoto" alt="Image">
                                                    </div>
                                                </td>
                                                <td>
                                                    <canvas id="canvas" height="5" width="5" style="vertical-align:top;"></canvas>
                                                </td>
                                            </tr>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="submit" value="Update" class="btn btn-primary btn-user btn-block" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <a class='btn btn-primary btn-user btn-block' id="Add" href="@Url.Action("Index","TOWService")">Go Back</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Edit modal -->

                </div>

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @{
                @Html.Partial("~/Views/PartialView/_Footer.cshtml");
            }
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    @{
        @Html.Partial("~/Views/PartialView/_LogoutModal.cshtml");
    }

</body>

<script src="~/wwwroot/Bootstrap Design/vendor/jquery/jquery.min.js"></script>
<script src="~/wwwroot/Bootstrap Design/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/wwwroot/Bootstrap Design/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/wwwroot/Bootstrap Design/js/sb-admin-2.min.js"></script>
<script src="~/wwwroot/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/wwwroot/Bootstrap Design/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/wwwroot/Bootstrap Design/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script>

    var imageCropWidth = 0;
    var imageCropHeight = 0;
    var cropPointX = 0;
    var cropPointY = 0;
    var jcropApi;

    $(document).ready(function () {
        LoadTable();
        LoadGarage();
        ValidateTOWService();

        $('#file').change(function () {
            readFile(this);
        });

        $('#DT_load').on('click', '#DeleteYes', function () {
            DeleteRecord($(this).attr("data-id"));
        });

        $('#DT_load').on('click', '#Edit', function () {
            LoadFieldsEdit($(this).attr("data-id"));
        });

    });

    function LoadTable() {

                dataTable = $('#DT_load').DataTable({
                    "bDestroy": true,
                    "ajax": {
                        "url": '@Url.Action("LoadTableData", "TOWService")',
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        {
                            "data": "VehicleImage", "render": function (data) {
                                return `<img src='${data}' width='150px' heigth='150px'>`;
                            }, "width": "10%"
                        },
                        { "data": "GarageName", "width": "10%" },
                        { "data": "TypeOfVehicleOwn", "width": "10%" },
                        { "data": "MaxPayLoad", "width": "10%" },
                        { "data": "NoOfVehicleOwn", "width": "10%" },
                        { "data": "RatePerKm", "width": "10%" },
                        { "data": "RangeOfService", "width": "10%" },
                        { "data": "ExtraFeatures", "width": "10%" },
                        {
                            "data": "TOWServiceID",
                            "render": function (data) {
                                return `<table class='table' width='100%' cellspacing='0' cellpadding='0'><tbody>

                                        <tr><td style='border: none;'>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditModal" id="Edit" data-id='${data}'>
                                            Edit
                                        </button>
                                        </td>

                                        <td style='border: none;'>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal${data}" id="Delete" data-id='${data}'>
                                            Delete
                                        </button>
                                        </td></tr>

                                        <div class='modal fade' id='DeleteModal${data}' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
                                        <div class='modal-dialog' role='document'>
                                        <div class='modal-content'>
                                        <div class='modal-header'>
                                        <h5 class='modal-title' id='exampleModalLabel'>Warning!</h5>
                                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                                        <span aria-hidden='true'>&times;</span>
                                        </button>
                                        </div>
                                        <div class='modal-body'>
                                        Are you sure, do you want to delete this record?
                                        </div>
                                        <div class='modal-footer'>
                                        <button type='button' class='btn btn-primary' id='DeleteYes' data-id='${data}'>Yes</button>
                                        <button type='button' class='btn btn-secondary' data-dismiss='modal'>No</button>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        `;
                            }, "width": "10%"
                        }
                    ],
                    "language": {
                        "emptyTable": "no data found"
                    },
                    "width": "100%"
                });

    }

    function LoadGarage() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadGarages", "TOWService")',
            dataType: 'json',
            ContentType: 'application/json; charset=utf-8',
            success: function (data) {

                var Stores = data.data;
                for (var i = 0; i < Stores.length; i++) {

                    var newOption = new Option(Stores[i].GarageName, Stores[i].GarageId, false, false);
                    $('#GarageName').append(newOption).trigger('change');
                }

            }
        });
    }

    function LoadFieldsEdit(TOWServiceID) {
        var TOWServiceID = {
            TOWServiceID: TOWServiceID
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadFieldsEdit", "TOWService")',
            dataType: 'json',
            data: TOWServiceID,
            ContentType: 'application/json; charset=utf-8',
            success: function (data) {

                var AllFields = data.data;
                if (data.data != null) {
                    $("#TOWServiceID").val(AllFields.TOWServiceID);
                    $("#GarageName").val(AllFields.GarageId);
                    $("#TypeOfVehicleOwn").val(AllFields.TypeOfVehicleOwn);
                    $("#MaxPayLoad").val(AllFields.MaxPayLoad);
                    $("#NoOfVehicleOwn").val(AllFields.NoOfVehicleOwn);
                    $("#RatePerKm").val(AllFields.RatePerKm);
                    $("#RangeOfService").val(AllFields.RangeOfService);
                    $("#ExtraFeatures").val(AllFields.ExtraFeatures);
                }
                else {
                    alert("Server Error!");
                    $("#TOWServiceID").val(0);
                }


            }
        });
    }

    function DeleteRecord(TOWServiceID) {

        var TOWServiceID = {
            TOWServiceID: TOWServiceID
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteTOWService", "TOWService")',
            dataType: 'json',
            ContentType: 'application/json; charset=utf-8',
            data: TOWServiceID,
            success: function (data) {

                var AllFields = data.data;

                if (AllFields.TOWServiceID <= 0) {
                    alert("Server error!");
                }
                else {
                    alert("Successfully deleted!");
                    $('#DeleteModal' + AllFields.TOWService).modal('toggle');
                    window.location.href = '@Url.Action("Index", "TOWService")';
                }

            }
        });
    }

    function ValidateTOWService() {
        $(function () {
            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value.indexOf(" ") < 0 && value != "";
            }, "No space please and don't leave it empty");

            jQuery.validator.addMethod("exactlength", function (value, element, param) {
                return this.optional(element) || value.length == param;
            }, $.validator.format("Please enter exactly {0} characters."));

            jQuery.validator.addMethod("filesize_max", function (value, element, param) {
                var isOptional = this.optional(element),
                    file;

                if (isOptional) {
                    return isOptional;
                }

                if ($(element).attr("type") === "file") {
                    if (element.files && element.files.length) {
                        file = element.files[0];
                        return (file.size && file.size <= param);
                    }
                }
                return false;
            }, "File size is too large.");

            $("#TOWServiceForm").validate({

                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                },
                rules: {
                    TypeOfVehicleOwn: {
                        required: true
                        //umailExist: true,
                    },
                    MaxPayLoad: {
                        required: true,
                        number: true
                    },
                    NoOfVehicleOwn: {
                        required: true
                    },
                    RatePerKm: {
                        required: true,
                        number: true
                    },
                    RangeOfService: {
                        required: true
                    },
                    ExtraFeatures: {
                        required: true
                    },
                    file: {
                        filesize_max: 800000
                    }
                },
                messages: {
                    TypeOfVehicleOwn: {
                        required: "Please fill this field!"
                        //umailExist: true,
                    },
                    MaxPayLoad: {
                        required: "Please fill this field!",
                        number: "Invalid number!"
                    },
                    NoOfVehicleOwn: {
                        required: "Please fill this field!"
                    },
                    RatePerKm: {
                        required: "Please fill this field!",
                        number: "Invalid number!"
                    },
                    RangeOfService: {
                        required: "Please fill this field!"
                    },
                    ExtraFeatures: {
                        required: "Please fill this field!"
                    },
                    file: {
                        filesize_max: "File too large please input less than 800KB"
                    }
                },
                submitHandler: function (form) {
                    SaveTOWService();
                }

            });
        });
    }

    function SaveTOWService() {

        var TOWServiceID = $("#TOWServiceID").val();
        var GarageName = $("#GarageName").val();
        var TypeOfVehicleOwn = $("#TypeOfVehicleOwn").val();
        var MaxPayLoad = $("#MaxPayLoad").val();
        var NoOfVehicleOwn = $("#NoOfVehicleOwn").val();
        var RatePerKm = $("#RatePerKm").val();
        var RangeOfService = $("#RangeOfService").val();
        var ExtraFeatures = $("#ExtraFeatures").val();

        var TOWService = {
            TOWServiceID: TOWServiceID,
            GarageId: GarageName,
            TypeOfVehicleOwn: TypeOfVehicleOwn,
            MaxPayLoad: MaxPayLoad,
            NoOfVehicleOwn: NoOfVehicleOwn,
            RatePerKm: RatePerKm,
            RangeOfService: RangeOfService,
            ExtraFeatures: ExtraFeatures
        }

        var formData = new FormData();
        var file = $('#file').get(0).files;
        formData.append("imageFile", file[0]);
        formData.append("data", JSON.stringify(TOWService));

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveTOWService", "TOWService")',
            dataType: 'json',
            contentType: false, //must for formdata
            processData: false, //must for formdata
            ContentType: 'application/json; charset=utf-8',
            data: formData,
            success: function (data) {

                var AllFields = data.data;

                if (AllFields.StoreId <= 0) {
                    alert("Server error!");
                }
                else {
                    alert("Successfully saved!");
                    window.location.href = '@Url.Action("Index", "TOWService")';
                }

            }
        });
    }

    function readFile(input) {

        console.log("asda" + input);
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            /*Destroy jcrop initialization other wise it will hold it previous image in img tag*/
            if (jcropApi != null) {
                jcropApi.destroy();
            }
            reader.onload = function (e) {
                $('#imgPhoto').attr('src', "");
                var img = $('#imgPhoto').attr('src', e.target.result);

                /*Current uploaded image size*/
                var width = img[0].height;
                var height = img[0].width;
                $("#lblWidth").text(width + "px");
                $("#lblHeight").text(height + "px");

            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

